* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: rgba(17, 0, 0, 0.811);
    padding: 10px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* overflow: hidden; */
}

.logotop {
    min-width: 20%;
    display: flex;
    align-items: center;
}

.logotop img {
    width: 50px;
    height: 50px;
    max-width: 60%;
    border-radius: 10px;
    border: 2px dotted purple;
}

.logotop a {
    margin: 0px 10px;
}

.brand {
    min-width: 29%;
    /* float: left; */
    text-transform: uppercase;
    font-size: larger;
    font-weight: bolder;
    color: whitesmoke;
    text-decoration: none;
}

.brand :hover {
    color: rgb(210, 7, 7) !important;
    cursor: pointer !important;
}

ul {  
    /* overflow: hidden; */
    clear: both;
    list-style-type: none;
}

/* li {
    display: inline;
    padding-left: 10px;
} */

.topmenu {
    clear: both;
}

.topmenu ul {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.topmenu li {
    margin: 0px 20px;
}

.topmenu a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 17px;
    /* width: 20px; */
}

.topmenu li :hover {
    background-color: greenyellow;
    color: black;
    padding: 10px;
    border-radius: 10px;
    /* height: 0px; */
    width: 100%;
}

@media screen and (max-width: 720px) {
    .topmenu {
        clear: both;
        max-width: 100%;
    }

    .topmenu li {
        margin: 0px 5px;
    }

    .topmenu li :hover {
        background-color: greenyellow;
        color: black;
        padding: 10px 2px;
    }
}

@media screen and (max-width: 610px) {
    header {
        max-width: 100%;
    }

    .topmenu {
        clear: both;
        max-width: 100%;
    }

    .topmenu ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 10px;
    }

    .topmenu li {
        margin: 2px 5px;
    }

    .topmenu li :hover {
        background-color: greenyellow;
        color: black;
        padding: 10px 2px;
    }
}

a :link {
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
}

a :hover {
    background-color: firebrick;
}

.mid-section {
    margin: 20px 0px;
}

.mid-flexdiv {
    max-width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 
.rows {
    /* float: left; */
    width: 28.4%;
    margin: 10px;
    background-color:rgb(137, 203, 203) ;
    /* border: 1px solid rgb(137, 203, 203) ; */
    border-radius: 10px;
    padding: 20px;
}

.rows :hover {
    transform: scale(1.03);
}

@media screen and (max-width: 820px) and (min-width: 701px) {
    /* * {
        width: 100%;
    } */
    .mid-flexdiv {
        max-width: 100%;
        display: flex;
        overflow: hidden;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .rows {
        max-width: 26%;
        margin: 10px;
        background-color:rgb(137, 203, 203);
        border-radius: 10px;
        padding: 15px;
    }
    
}

@media screen and (max-width: 650px) {
    .mid-flexdiv {
        max-width: 100%;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-items: center;
    }

    .rows {
        max-width: 90%;
        width: 70%;
        margin: 10px;
        background-color:rgb(137, 203, 203);
        border-radius: 10px;
        padding: 10px;
        /* height: 50px; */
    }

    .rows h2 {
        font-size: 22px;
        margin-bottom: 2px;
    }
    
    .rows p {
        font-size: 14px;
        width: 99%;
        /* text-align: center; */
    }
}

@media screen and (max-width: 700px) {
    .mid-flexdiv {
        max-width: 100%;
        display: flex;
        overflow: hidden;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .rows {
        max-width: 100%;
        width: 40%;
        margin: 10px;
        background-color:rgb(137, 203, 203);
        border-radius: 10px;
        padding: 10px;
    }

    .rows h2 {
        font-size: 22px;
        margin-bottom: 2px;
    }
    
    .rows p {
        font-size: 14px;
        width: 99%;
        /* text-align: center; */
    }
}

@media screen and (max-width: 660px) {
    .mid-flexdiv {
        max-width: 100%;
        display: flex;
        overflow: hidden;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .rows {
        max-width: 100%;
        width: 35%;
        margin: 10px;
        background-color:rgb(137, 203, 203);
        border-radius: 10px;
        padding: 10px;
    }

    .rows h2 {
        font-size: 22px;
        margin-bottom: 2px;
    }
    
    .rows p {
        font-size: 14px;
        width: 99%;
        /* text-align: center; */
    }
}

footer {
    overflow: hidden;
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    bottom: 0;
    max-width: 100%;
    background-color:  rgba(81, 78, 78, 0.811);
}

/* .foot1 img {
    width: 100px;
    height: 100px;
}

.foot3 img {
    width: 100px;
    height: 100px;
} */

/* p {
    column-count: 2;
} */

/* .foot1 {
    color: blue;
    width: 25%;
    float: left;
    margin-left: 10px;
}

.foot2 {
    color: whitesmoke;
    width: 25%;
    float:left ;
    margin-left: 10px;
}

.foot3 {
    color: chocolate;
    width: 25%;
    float: left;
    margin-left: 10px;
} */

.addy_in_footer {
    color: white;
    text-transform: uppercase;
}

.social_icon {
    min-width: 29%;
    display: flex;
    display: inline;
    /* padding-left: 20px; */
    width: 30%;
    /* margin: auto; */
}

.social_icon img {
    width: 50px;
    height: 50px;
}

.social_icon a {
    text-decoration: none;
}

.social_icon a :hover {
    border-radius: 10px;
    padding: 1px;
}